<div class="container min-100vh">
  <h1>Hello <%= @booking.user.first_name%>!</h1>
  <h2>What do you want to change ?</h2>
  <%= simple_form_for [@friend, @booking] do |f| %>
    <%= f.input :starting_date %>
    <%= f.input :ending_date %>
    <%= f.button :submit, class: "btn btn-secondary mb-2" %>
  <% end %>
  <%= link_to "Delete",
              booking_path(@booking),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class:"btn btn-danger mr-2" %>
  <%= link_to "Book another friend", friends_path, class:"btn btn-success" %>
</div>

