<div class="container-md text-center card-friend p-3 min-100vh">
  <h1>Please find your <strong>reservations</strong> below:</h1>
  <br>
  <br>
  <% @bookings.each do |booking| %>
    You've booked <%= link_to booking.friend.first_name, friend_path(booking.friend) %>
    from <%= booking.starting_date %>
    to <%= booking.starting_date %> <br>
    You can contact him at <%= booking.friend.email %>
    <br> <br>
  <% end %>
  <br>
  <%= link_to "Back to friends", friends_path, class:"btn btn-success shadow" %>
</div>
