<div class="container-md text-center card-friend p-3 min-100vh">
  <h1>Congratulations <%= @booking.user.first_name%>, <br>you're about to meet <br>your new friend!</h1>
  <ul>You have successfully booked a date with <strong><%= @booking.friend.first_name%></strong>

  <%= cl_image_tag @booking.friend.photo.key, height: 300, width: 300, crop: :fill, class:"avatar-friend-show ml-5 shadow" %>

    <p>It is planned as follow:</p>
    <p><strong>from:</strong> <%= @booking.starting_date %></p>
    <p><strong>to:</strong> <%= @booking.ending_date %></p>
    <p><strong>at:</strong> <%= @booking.address %></p></p>
    <br>
    <br>
  </ul>
  <%= link_to "The more the merrier..", friends_path, class:"btn btn-success shadow"  %>
  <%= link_to "Edit !", edit_booking_path(@booking), class:"btn btn-secondary shadow" %>
</div>





