<div id="header" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cms-internationsgmbh.netdna-ssl.com/cdn/image/article/public/cms-media/public/most-welcoming-countries_s583329655.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Rent a buddy</h1>
          <p><span id="banner-typed-text"></span></p>
          <div class="row home">
          <%= form_tag friends_path, method: :get, class: "col-sm-12 d-flex flex-column mt-5" do %>
            <h3>Find a friend:</h3>
            <%= text_field_tag :query,
                                params[:query],
                                class: "form-control form-text my-1 col-sm-12",
                                placeholder: "Type a city...",
                                autocomplete: "off",
                                id: "friends_address" %>
             <%= number_field_tag 'kms', nil, min: 1, max: 50, step: 1, class: "col-sm-2 home_range mt-2", placeholder: "rayon (kms)" %>
            <%= submit_tag "Buddy call !", class: "btn btn-primary col-sm-2 mt-3" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4 p-0">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% Friend.all.each do |friend| %>

            <div class="carousel-item <%= 'active' if friend == Friend.first %>">
              <img class="d-block w-100" src="<%= cl_image_path friend.photo.key %>" alt="buddies">
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8 pt-3 text-carousel">
      <br>
      <h1><strong>Aujourd’hui plus que jamais, cela peut changer la vie de pouvoir parler à quelqu’un..</strong></h1>
      <br>
      <br>
      <p>Chez <strong>Rent-a-buddy</strong>, nous faisons toujours tout pour simplifier les rencontres</p>
      <p>Nous nous efforçons de créer un endroit où chacun et chacune, dans le monde entier, peut être soi-même et partager de bons moments. Nous effectuons régulièrement des changements et améliorations pour que tou.te.s nos membres se sentent reconnu.e.s et les bienvenu.e.s lorsqu'ils se connectent sur notre plateforme. Rejoignez notre communauté de buddies</p>
    </div>
  </div>
</div>
